<%- include('partials/header'); %>

<div class="container">
    <header class="jumbotron text-center">
        <h1>Wellcome to campgrounds</h1>
        <a class="btn btn-primary" href="campgrounds/new">Add new camp</a>
    </header>

    
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% campground.forEach(element => {%>
            <div class="col-md-3 col-sm-6">
                <img class="img-thumbnail" src="<%= element.image %> ">
                <div class="caption">
                    <h2 class="text-center"><%= element.name %></h2>
                    <a class="btn btn-primary btn-block" href="campgrounds/<%- element._id %> ">more info</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<%- include('partials/footer'); %>