<%- include('partials/header'); %>

<p>this is name : <%= camp.name %> </p>
<p>this is image : <img src="<%= camp.image %>"></img> </p>

<p>this is description : <%= camp.description %> </p>



<%- include('partials/footer'); %>