<%- include('partials/header'); %>

<p>this is name : <%= camp.name %> </p>
<p>this is image : <img src="<%= camp.image %>"></img> </p>

<p>this is description : <%= camp.description %> </p>

<p>
    <% camp.comments.forEach(element => { %>
        <p>
            <strong>
                <%= element.author %> 
            </strong>
            <p>
                <%= element.text %> 
            </p>
        </p>
    <% }); %> 
</p>


<%- include('partials/footer'); %>